<% var title = 'Page de profil' %>
<% include head %>

<h1>Votre Profil</h1><br>
Bonjour <%=prenom%>   <img src=<%=photo%> height="60" width="60">

<p>Deconnexion - <a href="/deconnexion">logout</a>


<p><a href="/modifProfile">Modifier votre compte</a></p>
<div>
    <% for(var i = 0 ; i < result.length ; i++) { %>
        <img src=<%= result[i].images %> />
        Mot à trouvé : <%=result[i].mot%>
        Mot trouvé : <%=result[i].reponse%>
    <% } %>
</div>

<% include foot %>